<div class="main-div">
  <div class="row header">
    <div class="col-md-2 ">
      <h1>zomato</h1>
    </div>
    <div class="col-md-6">
      <form [formGroup]="search" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <i class="fa fa-map-marker location-icon" aria-hidden="true"></i>
          <input type="text" formControlName="location" id="location" #location (keyUp)="updateLocation(location.value)" class="form-group"
          class="form-text" [ngClass]="{'is-invalid': submitted && f.location.errors}"(click)="showGpsBtn()"
          placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off">
          <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
            <div *ngIf="f.location.errors.required">
              location is required
            </div>
          </div>
        </div>
        <div class="card-location"  [class.toggled]="classToggled" >
          
          <button type="button" class="gps_btn" (click)="gpsOn()">Detect Current Location <p>using GPS</p></button>
        </div>
      </form>
    </div>
    
    <div class="col-md-4 login-signup">
      <h5 routerLink="login" >Login</h5>
      <h5 routerLink="signup">Signp</h5>
    </div>
  </div>

  <div class="option-dine">
    <ul>
      <li routerLink="delivery">
        <img src="../assets/delivery.webp"><h4>Delivery</h4>
      </li>
      <li routerLink="dineout">
        <img src="../assets/dinein.webp"><h4>Dining Out</h4> 
      </li>
      <li routerLink="nightlife">
      <img src="../assets/nightlife.webp">
      <h4>
        Nightlife
      </h4>
        
      </li>
    </ul>
  </div>

</div>

<router-outlet></router-outlet>