<div class="main-div">
    <h2>Explore Nightlife</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/meal1.webp" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Chopper's Shop</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/meal2.webp" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Delhi  Grillz</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/meal3.webp" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Roti aur BotiExpress</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/meal1.webp" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Chopper's Shop</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/meal2.webp" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Delhi  Grillz</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/meal3.webp" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Roti aur BotiExpress</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/meal1.webp" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Chopper's Shop</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/meal2.webp" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Delhi  Grillz</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/meal3.webp" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Roti aur BotiExpress</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
    
</div>
